    <div class="form-container">
      <h1>Fazer Login</h1>
      <button (click)="loginGoogle()" class="google" mat-button style="padding: 1rem; margin-bottom: 0.5rem;"><mat-icon style="width: 50px; height:30px"svgIcon="logo"></mat-icon> Entre com o <b>Google</b></button>  
      <button routerLink="/email-login" mat-button  class="auth-btn">E-mail</button>
        <a routerLink="/signup" routerLinkActive="active" class="create-account-txt">Não cadastrado? <strong>Clique aqui</strong></a>

      </div>

