<mat-card>
    <mat-card-title>Alterar Atendimento</mat-card-title>
    <form #formData="ngForm">
        <mat-form-field>
            <input matInput placeholder="Paciente"
                [(ngModel)]="attendance.patient.name" name="patient" readonly >
        </mat-form-field>
        <mat-form-field>
            <input matInput  type="text" placeholder="Idade do Paciente"
                [(ngModel)]="attendance.patient.age" name="age" maxlength="3"  numbersOnly readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Cartão do Convênio"
                [(ngModel)]="attendance.patient.planCardNumber" name="planCardNumber" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput   type="number" placeholder="Código do Plano de Saúde"
                [(ngModel)]="attendance.patient.healthCarePlan.code" name="healthPlanCode" numbersOnly readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nome do Plano de Saúde"
                [(ngModel)]="attendance.patient.healthCarePlan.name" name="healthPlanName" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Médico"
                [(ngModel)]="attendance.doctor.name" name="doctor" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade do Médico"
                [(ngModel)]="attendance.doctor.age" name="doctorAge" numbersOnly maxlength="3" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CRM do Médico"
                [(ngModel)]="attendance.doctor.crm" name="crm" readonly>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Anamnese</mat-label>
            <textarea matInput [(ngModel)]="attendance.anamnesis"  name="anamnesis" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Conduta Médica</mat-label>
            <textarea matInput [(ngModel)]="attendance.therapeuticApproach"  name="therapeuticApproach" required></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Prescrição</mat-label>
            <textarea matInput [(ngModel)]="attendance.prescription"  name="prescription" required></textarea>
        </mat-form-field>
        <mat-select [(ngModel)]="attendance.status" name="status">
            <mat-option *ngFor="let key of keys" [value]="key">
                {{key}}
            </mat-option>
        </mat-select>
    </form>
    <button mat-raised-button (click)="updateAttendance()"  [disabled]="!formData.valid" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

