<mat-card>
    <mat-card-title>Excluir Atendimento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Id"
                [value]="attendance.id" name="id" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Paciente"
                [value]="attendance.patient.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Status"
                [value]="attendance.status" name="status" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteAttendance()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>